.input-container {
    display: flex;
    align-items:baseline;
    height: 100px;
}

.input-wrapper {
    position: relative;
    flex-basis: 100%;
}

.label {
    font-size: 20px;
    margin-right: 20px;
    color: black;
}

.input {
    font-size: 18px;
}

.error {
    position: absolute;
    left: 0;
    top: auto;
    bottom: -20px;
}