.map-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map {
    flex-basis: 60%;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.carriage {
    flex-basis: 35%;
    flex-shrink: 0;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.result-car {
    width: 60%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.result-car-text {
    white-space: nowrap;
    margin-right: 20px;
}