.suggests-container {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.suggest {
    background: #fff;
    text-align: left;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}